body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}


button{

    width: 50%;
    border-radius: 30px;
    font-size: large;
  margin:25px ;
}
